* {
    cursor: url('image/black.png'), auto;
}

body {
    min-width:calc(720px / 9 * 16);
    min-height:calc(720px);
    max-width:50000px;
    background-color:gray;
}

div.marketing_square {
    width:32.77%;
    display:inline-block;
    margin-top:5px;
    background-color:black;
}

.big_marketing_square {
    margin-top:5px;
    border:gray;
    background-color:gray;
}

.optionbar {
    background-color:lightgray;
}

p {
    font-size:0.7rem;
    text-align:center;
    color:white;
}

div {
    background-color:lemonchiffon;border:2px outset black
}

.fixfont {
    font-size:45px;
    font-family:'Arial';
    color:black;
}

img:hover {
    cursor: url('image/click.png') 3 0, auto;
}