
* {
    cursor: url('image/black.png'), auto;
}

body {
    background-color:gray;
    max-width:1425px;
    min-width:calc(720px / 9 * 16);
    min-height:calc(720px);
    margin:auto;


    position:relative;
}

.fixfont {
    font-size:2rem;
    font-family:'Times New Roman';
    color:white;
}

#pay {
    font-size:65px;
    font-family:'Times New Roman';
    color:rgb(244, 100, 100);
    margin-left:30px;
}

.option {
    font-size:40px;
    color:lightgray;
    width:96%;
}

td {
    border:1px solid white;
    text-align:center;
    width:25%;
}

td:hover {
    background-color:gray;
    color:rgb(51, 50, 50);
    cursor: url('image/click.png') 3 0, auto;
}

th {
    text-align:left;
    margin-left:30px;
    width:20%;
}

.comment-bar {
    background-color:whitesmoke;
    margin-top:15px;
    height:250px;
    margin-left:15px;
    width:1381px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    display:block;
    visibility:hidden;
}

.enter {
    background-color:whitesmoke;
    margin-top:15px;
    height:255px;
    margin-left:15px;
    width:1381px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
}

#comment {
    height:250px;
    display:inline-block;
    position:absolute;
    margin-left:10px;
    width:1116px;
    overflow:auto;

}

#usernickname {
    font-size:40px
}

#comment-line {
    font-size:30px;
    resize:none;
    height:196px;
    width:1107px;
    font-family:Arial, Helvetica, sans-serif;
}

button, textarea {
    cursor: url('image/click.png') 3 0, auto;
}

